<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products grid</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
            <a href="#" class="btn btn-light rounded font-md">Export</a>
            <a href="#" class="btn btn-light rounded  font-md">Import</a>
            <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>All category</option>
                        <option>Electronics</option>
                        <option>Clothings</option>
                        <option>Something else</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Latest added</option>
                        <option>Cheap first</option>
                        <option>Most viewed</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">

                

                <% allProducts.forEach((product) => { %>
                <div class="col">
                    <div class="card card-product-grid" >
                        <a href="#" class="img-wrap"> <img src="/uploads/product_images/<%= product.ProductImages[0] %>" alt="Product"style="width: 150px; height: 120px;"  > </a>
                        <div class="info-wrap">
                            <a href="#" class="title text-truncate"><%= product.ProductName  %></a>
                            <div class="price mb-2">Rs.<%= product.SalePrice %></div> <!-- price.// -->
                            <a href="/admin/edit-product?productId=<%= product._id %>"  class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Edit
                            </a>
                            <a href="#" onclick="showAlert('<%= product._id %>')" class="btn btn-sm font-sm btn-light rounded">
                            
                            <i class="material-icons md-delete_forever" ></i> Delete
                            
                            </a>
                        </div>
                    </div> <!-- card-product  end// -->

         
                </div> <!-- col.// -->
                <%  }); %>
                </div> <!-- row.// -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function showAlert(productId){
         event.preventDefault()
        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {

    $.ajax({
        url:'/admin/delete-product',
        method:'delete',
        data:{productId},
        success:(response)=>{
     swal("Poof! Your imaginary file has been deleted!", {
      icon: "success",
    });
    location.reload()
        }
    })

  
  } else {
    swal("Your imaginary file is safe!");
  }
});
    }
</script>

    show
</script>